<div class="col-md-6">
  <%= form_for(@flat, :html => {:class => "form-inline"}) do |f| %>

      <% if @flat.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

            <ul>
              <% @flat.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <!--<div class="field">-->

      <div class="control-group">
        <%= f.label :name, class: "label label-default" %>
        <!--<div class="controls">-->
        <%= f.text_field :name, class: "form-control" %>
        <!--</div>-->
      </div>
      <div class="control-group">
        <%= f.label :content, class: "label label-default" %>
        <div class="controls">
          <%= f.text_area :content, class: "form-control" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :price, class: "label label-default" %>
        <div class="controls">
          <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
      <!--<div class="control-group">-->
        <!--<#%= f.label :date_of_scrap, class: "label label-default" %>-->
        <!--<div class="controls">-->
          <!--<#%= f.datetime_select :date_of_scrap,:default => 24.hours.from_now,:minute_step => 5,class: "datetime" %>-->
        <!--</div>-->
      <!--</div>-->
      <div class="control-group">
        <%= f.label :room, class: "label label-default" %>
        <div class="controls">
          <%= f.number_field :room, class: "form-control" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :date_of_creation, class: "label label-default" %>
        <div class="controls">
          <%= f.text_field :date_of_creation, class: "form-control" %>
        </div>
      </div>
      <%= f.submit 'create flat', :class => 'btn btn-success' %>
  <% end %>
</div>