<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @flat.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flat.date_of_creation %>
</p>

<p>
  <strong>Room:</strong>
  <%= @flat.room %>
</p>

<p>
  <strong>Date of creation:</strong>
  <%= @flat.date_of_creation %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
