<p id="notice"><%= notice %></p>

<p>
  <strong>Nehnutelnosti:</strong>
  <%= @scrapsite.nehnutelnosti %>
</p>

<p>
  <strong>Bazos:</strong>
  <%= @scrapsite.bazos %>
</p>

<%= link_to 'Edit', edit_scrapsite_path(@scrapsite) %> |
<%= link_to 'Back', scrapsites_path %>
