<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @scrap.city %>
</p>

<p>
  <strong>Part of town:</strong>
  <%= @scrap.part_of_town %>
</p>

<p>
  <strong>Room count:</strong>
  <%= @scrap.room_count %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @scrap.keywords %>
</p>

<p>
  <strong>Price min:</strong>
  <%= @scrap.price_min %>
</p>

<p>
  <strong>Price max:</strong>
  <%= @scrap.price_max %>
</p>

<p>
  <strong>Last search time:</strong>
  <%= @scrap.last_search_time %>
</p>

<p>
  <strong>Number of results:</strong>
  <%= @scrap.number_of_results %>
</p>

<p>
  <strong>Time of result expiration:</strong>
  <%= @scrap.time_of_result_expiration %>
</p>

<%= link_to 'Edit', edit_scrap_path(@scrap) %> |
<%= link_to 'Back', scraps_path %>
