<!DOCTYPE html>
<html>
<head>
  <title>Bytik.sk</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--TO USE RAILS APP TO HANDLE JAVASCRIPT-->
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--TO USE WEBPACK TO HANDLE JAVASCRIPT-->
  <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--<p class="notice"><#%= notice %></p>-->
<!--<p class="alert"><#%= alert %></p>-->

<%= render 'layouts/navigation' %>
<%= render 'under_navigation_empty_space'%>

<%= yield %>

<%= render 'footer'%>
</body>
</html>